Jinja2==3.1.6
pyside6==6.10.0
pyside6_addons==6.10.0
pyside6_essentials==6.10.0
weasyprint==66.0
pandas
openpyxl
fastapi==0.115.5
uvicorn[standard]==0.32.0
python-multipart==0.0.9
psycopg2-binary==2.9.10
